.Form{
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.input{
    height: 30%;
    width: 76%;
    border-radius: 8px;
}
