.Form{
    width: 88%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.input{
    height: 30%;
    width: 76%;
    border-radius: 8px;
    border: 1.4px solid rgba(34, 212, 244);
}
