.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./pexels-ds-stories-6991358\ -\ copia.jpg);
  background-size:200%;
  background-position: 50%;
  width: 100%;
  height: 140vh;
}